* {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    /* background-color: rgb(228, 228, 172) !important; */
}
a {
    font-size: 1.5rem;
}
.img-logo {
    width: 10%;
    border-radius: 50%;
}
.img-header {
    width: 100%;
}
.btn-connect {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 10px;
}
footer {
    margin-bottom: 0px;
    margin-top: 0px;
}

li {
    list-style-type: none;
}
.card {
    display: inline-block;
}
.citation {
    text-align: end;
}
.color-perso {
    background-color: rgb(92, 249, 226);
}
.slogan-1 {
    color: red;
    font-size: 1.5rem;
}
.slogan-1:hover {
    font-size: 2.5rem;
}
.slogan-2 {
    color: green;
    font-size: 1.5rem;
}
.slogan-2:hover {
    font-size: 2.5rem;
}
.slogan-3 {
    color: black;
    font-size: 1.5rem;
}
.slogan-3:hover {
    font-size: 2.5rem;
}
.photo {
    width: 20rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}
.declaration {
    background-color: rgb(8, 105, 8);
    border-radius: 30%;
    line-height: 4rem;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: auto;
    font-size: 2em;
}
/* annuaire */
.containerAnnuaire {
    display: grid;
    border: thick double #32a1ce;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}
.itemAnnuaire {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1rem;
}
.titleAnnuaire {
    display: flex;
    justify-content: space-around;
}

h1.titreAnnuaire {
    display: flex;
    justify-content: center;
}
/* fin annuaire */
.photoAnnuaire {
    align-items: center;
    justify-content: space-around;
}
.imageAnnuaire {
    margin: 0.5rem;
    border-radius: 20px 20px;
    align-items: center;
    flex-wrap: wrap;
}

.modalCustom {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 10rem;
}
/* .row {
    margin: auto;
} */
