body {
    padding: 0;
    margin: 0;
    background-color: rgb(226, 226, 123) !important;
}
.img-logo {
    width: 20%;
    border-radius: 50%;
}
.img-header {
    width: 100%;
}
#navbar {
    background-color: #dc3545;
}
footer {
    text-align: center;
    /* padding: 3px; */
}
h2 {
    text-align: center;
}
.button-hover:hover {
    font-size: 2rem;
}
li:not(.puceOn) {
    list-style-type: none;
}
.card {
    display: inline-block;
}
.citation {
    text-align: end;
}
.color-perso {
    background-color: rgb(92, 249, 226);
}
.slogan-1 {
    color: red;
    font-size: 1.5rem;
}
.slogan-2 {
    color: green;
    font-size: 1.5rem;
}
.slogan-3 {
    color: black;
    font-size: 1.5rem;
}
.photo {
    width: 20rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}
.declaration {
    background-color: rgb(8, 105, 8);
    border-radius: 30%;
    /* opacity: 0.8; */
    /* height: 8rem; */
    line-height: 4rem;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: auto;
    font-size: 2em;
}
